
body {
  
  font-size: 25px;

  background-image: url('elevador1.jpg');
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
  url('elevador1.jpg');
  
}



/* Estilo da Moldura e Lista */
.moldura-moderna {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* Efeito de vidro moderno */
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 40px;
    max-width: 900px;
    margin: 40px auto;
}

.servicos-header {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.lista-principal {
    list-style: none;
    padding: 0;
}

.card-servico {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.card-servico:hover {
    transform: scale(1.02);
    background: rgba(0, 0, 0, 0.3);
}

.icone {
    font-size: 40px;
}

.sub-lista {
    margin-top: 10px;
    font-size: 1rem !important; /* Tamanho menor para a sub-lista */
    opacity: 0.9;
}

strong {
    color: rgb(255, 255, 255);
}

p {
    color: rgb(255, 255, 255);
}

ul li {
    color: rgb(255, 255, 255);
     font-size: 20px;
}

.btn-home {
  display: inline-flex;
  align-items: center;
  gap: 0px; /* Espaço entre o ícone e o texto */
  padding: 10px 30px;
  background-color: #575757; /* Cor */
  color: white;
  text-decoration: none; /* Remove o sublinhado */
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  position: fixed; /* Fixa o elemento em relação à tela BOTAO */
  top: 20px;       /* Distância do topo */
  right: 20px;      /* Distância da esquerda */
  z-index: 1000;   /* Garante que ele fique acima de outros elementos */
  font-size: 15px;
}